body {
  background: #eee;
  text-align: center;
}
.icon__container {
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: center;
}
.card__icon {
  padding: 5px;
  width: 50px;
}
.card__icon + .active {
  background-color: rgb(41, 182, 72);
}